body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, theme('fontFamily.sans');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-black-main dark:text-white-main;
}

code {
  @apply font-mono;
}

.ReactModal__Overlay {
  @apply transition-all duration-300 ease-in-out;
  @apply opacity-0;
}

.ReactModal__Overlay--after-open {
  @apply opacity-100;
}

.ReactModal__Overlay--before-close {
  @apply opacity-0;
}

.ReactModal__Content {
  @apply backdrop-filter backdrop-blur-md;
  @apply transition-all duration-300 ease-in-out;

  &:not(.drawer) {
    @apply transform scale-0;
  }
  &.drawer {
    @apply transform;
    &.left {
      @apply -translate-x-full;
    }
    &.right {
      @apply translate-x-full;
    }
  }
}
.ReactModal__Content--after-open {
  &:not(.drawer) {
    @apply scale-100;
  }
  &.drawer.left,
  &.drawer.right {
    @apply translate-x-0;
  }
}
.ReactModal__Content--before-close {
  &:not(.drawer) {
    @apply scale-0;
  }
  &.drawer {
    &.left {
      @apply -translate-x-full;
    }
    &.right {
      @apply translate-x-full;
    }
  }
}

h3 {
  @apply text-2xl font-bold;
}

button,
input,
select,
*[role='button'] {
  &:focus,
  &:focus-visible {
    outline: none;
    @apply ring ring-primary-400 ring-opacity-80;
  }
}

hr {
  @apply border border-0 border-b-1 border-gray-500 border-opacity-30;
  @apply h-1px;
}

/** ---------- SCROLLBAR STYLING ---------- **/
* {
  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.3);
  --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.5);
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 0.25rem;
    &:hover {
      background-color: var(--scrollbar-thumb-hover-color);
    }
  }
}
