.imageBlockContainer {
  @apply relative overflow-hidden;
  @apply rounded-md;
  .button {
    @apply hidden absolute right-0 bottom-0 m-4;
    @apply p-2;
  }
  &:hover .button {
    @apply block;
  }
  .toolbar {
    @apply absolute bottom-0 right-0 transition-all duration-300;
    @apply opacity-0;
  }
  &:hover .toolbar {
    @apply opacity-100;
  }
  &:focus-within .toolbar {
    @apply opacity-100;
  }
}
.imageBlock {
  @apply relative overflow-hidden w-full h-full;

  .thumbnail {
    @apply w-full h-full;
    @apply bg-cover bg-center bg-no-repeat bg-clip-border;
    @apply transition-all duration-500;
    @apply relative;
    @apply transform;
  }

  .innerImage {
    @apply w-full h-full;
  }

  .expand {
    @apply absolute top-2 left-2;
    @apply text-white-main opacity-0;
    @apply transition-all duration-300 z-1;
  }

  &::after {
    content: '';
    display: block;
    background: #000;
    opacity: 0;
    transition: all 0.5s;

    @apply absolute inset-0;
    @apply pointer-events-none;
  }

  &.ready {
    @apply cursor-pointer;
    &:hover {
      &::after {
        opacity: 0.5;
      }
      .thumbnail {
        @apply scale-110;
      }
      .expand {
        @apply opacity-60;
      }
    }
  }
}
